<!DOCTYPE html>
<html>
<head>
  <title>Justdoit</title>
  <%= stylesheet_link_tag    'swindytree', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'swindytree', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<div id="game">
    <%= yield %>
</div>

</body>
</html>
